doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    script(type='text/javascript', src='javascripts/jquery.min.js')
    script(type='text/javascript', src='javascripts/bootstrap.min.js')
    script(type='text/javascript', src='javascripts/text-summarizer.js')
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  footer(class='footer')
    div(class='container')
        div(class='col-sm-12')
            p Briefly is a summarizing tool developed for Intelligent Systems Master Course at MdH. 
            p You can find the repository #[a(href='https://github.com/mishless/text-summarizer', target='_blank') here].